.body {
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}
.header ,{
    padding: 20px 35px;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-start;
}
.header h1 {
    font-weight: bold;
    font-size: 34px;
    color: violet;
    margin: 0;
}


/*personal-start*/
/*personal-ends*/

/*start-projects*/
.work-grid-container {
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 100px 200px;
}
.work-grid-item {
    width: 200px;
    height: 50px;
    background-color: crimson;
    border: solid;
}
/*end-projects*/