*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-bg-color: #726e6d;
    --main-bg2-color: #348017;
}

/*header*/

.portfolio-hero-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--main-bg-color);
    padding: 2rem 0;
  }
  
  .portfolio-hero-header-description {
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  
  .portfolio-hero-header-description li {
    -webkit-flex: 1 0 200px;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
    text-align: center;
    padding: 0 1.25rem;
    position: relative;
    white-space: nowrap;
  }
  
  .portfolio-hero-header-description li:before {
    content: "*";
    position: absolute;
    left: 0;
    top: 5px;
  }
  
  .portfolio-hero-header-description li:first-child:before {
    content: "";
  }
  
  .portfolio-hero-header-menu {
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  
  .portfolio-hero-header-menu li {
    margin: 1.25rem;
  }
  
  .portfolio-hero-header-menu li a {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  
  
/*end-header*/

/*personal-start*/
.personal-info {
    background: linear-gradient(90deg,var(--main-bg-color) 40%, var(--main-bg2-color) 50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    }

    .personal-info {
        margin: 30px 70px;
        padding: 60px 40px;
    }

.about-me h2 {
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;


}
    .about-me {
        display: flex;
        width: auto;
        text-align: center;
        color: white;
    }
    .personal-bio {
        color: white;
        width: auto;
        text-align: center;
        margin: auto;
    }

/*personal-ends*/

/*start-projects*/
.get-to-work {
padding: 30px;
margin: 20px;
}
.get-to-work h2 {
font-size: 36px;
color: black;
text-align: center;
}

.get-to-work p {
    font-size: 24px;
    display: flex;
}

.get-to-work {
    background: linear-gradient(90deg,var(--main-bg2-color) 40%, var( --main-bg-color) 50%);
    margin: auto;
}
.get-to-work {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: white;
}

.work-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(2, 1fr);
}
.work-grid-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 5px solid rgba(252, 252, 252,);
    border-radius: 5px;
    font-size: 35px; 
    background: black;
}
.work-grid-item:nth-child(3n) {
    grid-column: span 3;
    grid-row: span 2;
}
.img {
    width: 30%;
}
/*end-projects*/

/*start-contact*/
.contact {
    margin: 30px;
    padding: 60px;
    background: linear-gradient(90deg,var(--main-bg-color) 40%, var(--main-bg2-color) 50%);
}
.contact h3 {
    text-align: center;
    font-size: 36px;
}

.contact p {
    font-size: 24px;
    text-align: center;
    color: white;
}

.contact address {
    margin: 5px;
    padding: 6px;
    font-size: 24px;
    text-align: center;
}
/*end-contact*/
.button {
  font-size: 30px;
  background-color: var(--main-bg2-color);
  text-align: center;
  display: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: var(--main-bg-color);
}

.skills {
  background: linear-gradient(90deg,var(--main-bg2-color) 40%, var( --main-bg-color) 50%);
  margin: auto;
}